.image {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    margin-left: 75%;
    margin-top: -15%;
};

.siteHeading {
    margin-top: 50px;
    font-size: 3.2rem;
};

.content {
    line-height: 24px;
    display: block
};

.button {
    width: 25%;
    border: 2px solid #96979c;
    margin-left: 1%;
    font-weight: bold;
    font-size: 1.6rem;
};

.link {
    width: 10%;
    margin-left: 5%;
    font-weight: bold;
};